:root {
  --bg-color: #202020;
  --snake-color: #CAD2C5;
  --cell-color: #404040;
  --food-color: #20A4F3;
  --text-color: #ffffff;
}

* {
  margin: 0;
}

body {
  background-image: url("../assets/nightsky.jpg");
  background-size: auto;
  background-color: var(--bg-color);
  color: var(--snake-color);
  font-family: 'Comfortaa', cursive;
}

#container-all {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-game {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  border: 2px solid var(--snake-color);
}

#board {
  display: grid;
  grid-template-columns: repeat(15, 29px);
  grid-template-rows: repeat(15, 29px);
}

#board>div {
  border-radius: 4px;
}

header {
  font-size: 50px;
  margin: 50px;
}

#container-scores {
  display: flex;
  width: 329px;
  justify-content: space-between;
  margin: 10px 0 40px 0;
}

#message {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 40px;
}

.rotate0 {
  transform: rotate(0deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}