:root {
  --bg-color: #202020;
  --snake-color: #CAD2C5;
  --cell-color: #8E5572;
  --food-color: #20A4F3;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color)
}

#board {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(21, 15px);
  grid-template-rows: repeat(21, 15px);
  gap: 1px;
}

#board>div {
  border-radius: 20%;
}